{% load static %}

<div class="row">
    <div class="col-10">
        <div class="row question-box">
            <div class="col-1">
                <img class="question-img" src={% static "img/star.jpeg" %}>
                <div class="row question-upvotes-downvotes">
                    <div class="btn-group">
                        <button class="btn btn-xs btn-upvote">+</button>
                        <button class="btn btn-xs btn-downvote">-</button>
                        <div class="like-counter">{{ answer.likes }}</div>
                    </div>
                </div>
            </div>
            <div class="col-11">
                <label class="btn btn-link question-title">Answer this</label>
                <div class="question-text">
                    {{ answer.text }}
                </div>
                <div class="row question-answers">
                    <label class="btn btn-link btn-tag">Answers(3)</label>
                    <label class="question-tags">Tags:</label>
                    <label class="btn btn-link btn-tag question-tag">Perl</label>
                    <label class="btn btn-link btn-tag question-tag">Django</label>
                    <div class="checkbox">
                        <input type="checkbox" class="current-question-answer-checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>