{% load static %}

<div class="row">
    <div class="col-10">
        <div class="row question-box">
            <div class="col-1">
                <img class="question-img" src="{{ question.author.avatar.url }}">
                <div class="row question-upvotes-downvotes">
                    <div class="btn-group">
                        {% include 'include/rating.html' with type='answer' pk=answer.pk rating=answer.rating %}
                    </div>
                </div>
            </div>
            <div class="col-11">
                <label class="btn btn-link question-title">{{ answer.author }}</label>
                <div class="question-text">
                    {{ answer.text }}
                </div>
                <div class="row question-answers is-valid">
                    {% if question.author == request.user.profile %}
                        <input class="js-correct checkbox current-question-answer-checkbox"" data-id="{{ answer.pk }}" type="checkbox" id="correct-{{ answer.pk }}"
                                {% if answer.is_correct %} checked {% endif %}>
                        <label class="checkbox current-question-answer-checkbox" for="correct-{{ answer.pk }}" {% if answer.is_correct %}
                               style="color: #28a745;" {% endif %}>
                            Correct!
                        </label>
                    {% else %}
                        <input class="js-correct checkbox current-question-answer-checkbox" data-id="{{ answer.pk }}" type="checkbox"
                               id="correct1-{{ answer.pk }}" {% if answer.is_correct %} checked {% endif %}  disabled>
                        <label class="" for="correct-{{ answer.pk }}" {% if answer.is_correct %}
                               style="color: #28a745;" {% endif %}>
                            Correct!
                        </label>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>