<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-11">
            <div class="col-11">
                <form role="form">
                    {% if request.user.is_authenticated %}
                        <label for="current-question-new-answer-form"
                               class="current-question-new-answer-label">Answer the question!</label>
                        <div class="ml-3">
                            {{ form.text }}
                        </div>
                    <button type="submit" class="btn btn-primary current-question-new-answer-btn">
                        Submit answer
                    </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</form>