{% load static %}

<div class="row">
    <div class="col-10" >
        <div class="row">
            <div class="col-1 current-question-author-info" style="margin-left: 50px;">
                <div class="current-question-author"><h3>{{ question.author }}</h3></div>
                <img class="question-img" src={% static "img/star.jpeg" %}>
                <div class="col-11 current-question-info">
                    <div class="btn-group">
                        <button class="btn btn-xs btn-upvote">+</button>
                        <div class="like-counter">{{ question.rating }}</div>
                        <button class="btn btn-xs btn-downvote">-</button>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <h1 class="current-question-title">{{ question.title }}</h1>
                <div class="current-question-text">
                    {{ question.text }}
                </div>
                <div class="row question-answers">
                    <label class="btn btn-link btn-tag">Answers({{ question.answers_number }})</label>
                    <label class="question-tags">Tags:</label>
                    {% for tag in question.tags.all %}
                        <label class="btn btn-link btn-tag question-tag"><a
                                href="{% url 'questions_by_tag' name=tag %}">{{ tag }}</a></label>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
