{% load static %}

<div class="row">
    <div class="col-10">
        <div class="row question-box">
            <div class="col-1">
                <img class="question-img" src="../../static/img/star.jpeg">
                <div class="row question-upvotes-downvotes">
                    <div class="btn-group">
                        <button class="btn btn-xs btn-upvote">+</button>
                        <div class="like-counter">{{ question.rating }}</div>
                        <button class="btn btn-xs btn-downvote">-</button>
                    </div>
                </div>
            </div>
            <div class="col-11">
                <div class="btn btn-link question-title">
                    <a href="{% url 'answers_for_question' pk=question.id %}">{{ question.title }}</a>
                </div>
                <div class="question-text">
                    {{ question.text }}
                </div>
                <div class="row question-answers">
                    <label class="btn btn-link btn-tag">
                        <a href="{% url 'answers_for_question' pk=question.id %}">Answers({{ question.answers_number }})
                        </a>
                    </label>
                    <label class="question-tags">Tags:</label>
                    {% for tag in question.tags.all %}
                        <label class="btn btn-link btn-tag question-tag"><a
                                href="{% url 'questions_by_tag' name=tag %}">{{ tag }}</a></label>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
