{% load static %}

<div class="row popular-tags offset-10">
    <div class="col-12">
        <h2>Popular tags</h2>
        {#        <div class="col-12">#}
        {#            <a href="tag.html" class="btn btn-link btn-tag" style="color: #28a745;">Perl</a>#}
        {#            <a href="tag.html" class="btn btn-link btn-tag" style="color: #721c24; font-size: 1.3rem;">Django</a>#}
        {#            <a href="tag.html" class="btn btn-link btn-tag" style="color: #002752">Moon Park</a>#}
        {#            <a href="tag.html" class="btn btn-link btn-tag" style="color: purple; font-size: 1.6rem;">HTML</a>#}
        {#            <a href="tag.html" class="btn btn-link btn-tag">CSS</a>#}
        {#            <a href="tag.html" class="btn btn-link btn-tag" style="font-size: 1.3rem; color: #004085">C++</a>#}
        {#            <a href="tag.html" class="btn btn-link btn-tag" style="font-size: 1.5rem; color: navy">Techno-park</a>#}
        {#        </div>#}
        <div class="col-12">
            {% for tag in popular_tags %}
                {% if tag.rating > 40 %}
                    <a class="btn btn-link btn-tag" style="color: purple; font-size: 1.6rem;"
                       href="{% url 'questions_by_tag' name=tag %}">{{ tag }}</a>
                {% elif tag.rating > 25 %}
                    <a class="btn btn-link btn-tag" style="color: #28a745; font-size: 1.4rem;"
                       href="{% url 'questions_by_tag' name=tag %}">{{ tag }}</a>
                {% elif tag.rating > 10 %}
                    <a class="btn btn-link btn-tag" style="font-size: 1.3rem; color: #004085"
                       href="{% url 'questions_by_tag' name=tag %}">{{ tag }}</a>
                {% else %}
                    <a class="btn btn-link btn-tag" style="color: darkgreen; font-size: 1.2rem;"
                       href="{% url 'questions_by_tag' name=tag %}">{{ tag }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-12">
                <h2>Best Members</h2>
                <div class="col-12">
                    {% for member in best_members %}
                        <div class="mb-2">
                            <a href="#">{{ member }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>