{% extends "include/base.html" %}
{% load static %}

{% block side %}
    {% include 'include/side.html' %}
{% endblock side %}

{% block headline %}
    <div class="new-questions">
        New Questions
    </div>
    <div class="hot-questions">
        <a href="{% url 'hot_questions' %}">Hot Questions</a>
    </div>
{% endblock headline %}

{% block content %}
    {% for question in content %}
        {% include "include/question.html" %}
    {% endfor %}
    {% include "include/pag.html" %}
{% endblock content %}
