{% extends "include/base.html" %}
{% load static %}

{% block side %}
    {% include 'include/side.html' %}
{% endblock side %}

{% block content %}
    {% include "include/question_for_ask.html" %}
    {% for answer in content %}
        {% include "include/answer.html" %}
    {% endfor %}
    {% include "include/pag.html" %}
    {% include "include/new_answer.html" %}
{% endblock content %}

{% block jscode %}
    <script src="{% static '/js/votes.js' %}"></script>
    <script src="{% static '/js/is_correct.js' %}"></script>
{% endblock %}
