{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>AskNagdimaev</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100" style="padding-top: 100px">
{% include "include/navbar.html" %}
{% include "include/side.html" %}
<main class="flex-shrink-0" style="margin-left: 400px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="d-flex align-items-end ms-5 ps-5 mb-4 mt-2">
                    <div class="caption">
                        Settings:
                    </div>
                    <div class="ms-3 caption" style="margin-left: 100px">
                        {{ request.user.username }}
                    </div>
                </div>
                <form method="post" novalidate enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form_updated %}
                        <div class="alert alert-success" role="alert">
                            Changes saved successfully!
                        </div>
                    {% endif %}

                    {% for form_field in form %}
                        <div class="d-flex w-100 invalid-feedback valid_settings">
                            {{ form_field.errors }}
                        </div>
                        <div class="d-flex ms-5 ps-5 mb-3 w-50">
                            <label for="inputLogin"
                                   class="col-sm-5 col-form-label col-form-label-lg">{{ form_field.label }}</label>
                            <div class="d-flex w-100">
                                {{ form_field }}
                            </div>
                        </div>
                    {% endfor %}

                    {% for avatar in ava %}
                        <div class="d-flex ms-5 p-sm-2 mb-3 w-100">
                            <label for="inputAvatar" class="col-sm-2 col-form-label col-form-label-lg"
                                   style="margin-right: 40px;">{{ avatar.label }}</label>
                            <div class="d-flex flex-column w-100" style="margin-top: 20px">
                                <img class="question-img" src="{{ request.user.profile.avatar.url }}"
                                     style="max-width: 250px;">
                                <div class="d-flex mt-2">
                                    {{ avatar }}
                                </div>
                                <div class="invalid-feedback d-block">
                                    {{ avatar.errors }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="d-flex mb-3 ms-5 ps-5 w-50 justify-content-start">
                        <label class="col-sm-5 col-form-label col-form-label-lg"></label>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-success btn-lg">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>